body{
    background-color: white;
    margin: 8px;
}

div{
    text-align: center;
    display: block;
}

table{
    width: 90%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    
    display: table;
    border-collapse: separate;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    border-color: grey;
    margin-left: 60px;

}
tbody{
    display: table-row-group;
    vertical-align: center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    background-color: rgb(238, 238,238);
    display: table-cell;
    vertical-align: inherit;
}

button{
    box-sizing: border-box;
    background-color: rgb(239,239,239),rgb(59, 59, 59);
    padding: 1px 6px;
    margin-right: 3px;
    font-size: small;
    
}

.sutun-1{
    width: 37%;
    background-color: #7ee5da;
}

.sutun-2{
    background-color: #70ccc2;
}

.sutun-3{
    background-color: #62b3aa;
    text-align: right;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: small;
}

